#### 1. Download the dataset from:
#### https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i/about_data 
#### 2. Save the data as data.csv

In [45]:
import pandas as pd

# Load the CSV file in chunks to handle large file size
chunksize = 100000  # Adjust chunk size as needed
filtered_chunks = []

for chunk in pd.read_csv("data.csv", chunksize=chunksize, parse_dates=['CMPLNT_FR_DT']):
    # Filter rows where "CMPLNT_FR_DT" is between 2022-01-01 and 2022-02-01
    filtered_chunk = chunk[(chunk['CMPLNT_FR_DT'] >= '2022-01-01') & (chunk['CMPLNT_FR_DT'] < '2022-02-01')]
    filtered_chunks.append(filtered_chunk)

# Concatenate all filtered chunks
filtered_data = pd.concat(filtered_chunks)

# Save the filtered data to "crimes_2022.csv"
filtered_data.to_csv("crimes_2022_jan_only.csv", index=False)

print("Filtered data saved to 'crimes_2022_jan_only.csv'")

Filtered data saved to 'crimes_2022_jan_only.csv'

In [47]:
import pandas as pd

# Load the filtered CSV file
df = pd.read_csv("crimes_2022_jan_only.csv", parse_dates=['CMPLNT_FR_DT'])

# Find the earliest and latest dates in "RPT_DT"
earliest_date = df['CMPLNT_FR_DT'].min()
latest_date = df['CMPLNT_FR_DT'].max()

# Count unique offenses in "OFNS_DESC"
offense_counts = df['OFNS_DESC'].value_counts()

# Calculate the total crime count
total_crimes = df.shape[0]

# Display the earliest and latest dates, and total crime count
print("Earliest Crime Date:", earliest_date)
print("Latest Crime Date:", latest_date)
print("Total Crime Count:", total_crimes)

# Save the unique crimes and their counts to a CSV file
offense_counts.to_csv("unique_crime_counts.csv", header=["Count"])

print("\nUnique offenses and their counts have been saved to 'unique_crime_counts.csv'")

Earliest Crime Date: 2022-01-01 00:00:00
Latest Crime Date: 2022-01-31 00:00:00
Total Crime Count: 7386

Unique offenses and their counts have been saved to 'unique_crime_counts.csv'

In [23]:
df.head(5)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,276364162,10/23/2023,18:00:00,NaN,(null),44.0,2023-10-23,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,NaN,40.839916,-73.917910,"(40.839916, -73.91791)",PATROL BORO BRONX,(null),18-24,WHITE,M
1,277194727,11/06/2023,11:15:00,NaN,(null),47.0,2023-11-06,578,HARRASSMENT 2,638.0,...,M,NaN,40.873901,-73.863363,"(40.873901, -73.863363)",PATROL BORO BRONX,(null),65+,BLACK,F
2,278229735,11/29/2023,14:17:00,11/29/2023,14:21:00,5.0,2023-11-29,341,PETIT LARCENY,333.0,...,F,NaN,40.723783,-73.996714,"(40.723783, -73.996714)",PATROL BORO MAN SOUTH,(null),UNKNOWN,UNKNOWN,D
3,273213318,08/08/2023,09:35:00,08/18/2023,09:37:00,120.0,2023-08-20,341,PETIT LARCENY,339.0,...,M,NaN,40.641900,-74.115421,"(40.6419, -74.115421)",PATROL BORO STATEN ISLAND,(null),25-44,WHITE,M
4,270648554,07/01/2023,03:09:00,07/01/2023,03:12:00,72.0,2023-07-01,348,VEHICLE AND TRAFFIC LAWS,922.0,...,M,NaN,40.641987,-74.017235,"(40.641986935886024, -74.01723466284814)",PATROL BORO BKLYN SOUTH,(null),UNKNOWN,UNKNOWN,E

In [48]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("crimes_2022_jan_only.csv")

# Select only the specified columns
columns_to_keep = ["Latitude", "Longitude", "VIC_SEX", "VIC_AGE_GROUP", "CMPLNT_FR_DT", "OFNS_DESC"]
df_filtered = df[columns_to_keep]

# Remove rows where any column has 'null', '(null)', 'UNKNOWN', or NaN values
df_filtered = df_filtered.replace(['null', '(null)', 'UNKNOWN'], pd.NA).dropna()

# Filter out rows where 'VIC_AGE_GROUP' contains negative values
df_filtered = df_filtered[~df_filtered['VIC_AGE_GROUP'].astype(str).str.startswith('-')]

# Remove rows where 'VIC_SEX' is 'E' or 'D'
df_filtered = df_filtered[~df_filtered['VIC_SEX'].isin(['E', 'D'])]

# Convert the DataFrame to a list of dictionaries and save it as JSON
df_filtered.to_json("crimes_2022_jan.json", orient="records", indent=4)

print("Data saved to crimes_2022_jan.json")

Data saved to crimes_2022_jan.json